body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .login-box {
   
    max-width: 900px; /* Adjusted max-width */
    padding: 65px; /* Reduced padding */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo-img {
    width: 150px; /* Adjusted width */
    height: 30px; /* Maintain aspect ratio */
  }
  
  .error-message {
    color: #d9534f;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Added bold font weight */
    color: #333333; /* Added color */
  }
  
  .form-group input {
    width: 290px;
    padding: 5px; /* Reduced padding */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  
  .error-text {
    color: #d9534f;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Add margin-bottom for spacing */
  }
  
  .remember-me input {
    width: 12px; /* Smaller checkbox */
    height: 12px; /* Smaller checkbox */
    margin-right: 10px; /* Adjust the spacing as needed */
  }
  
  .sign-in-button {
    width: 100%;
    padding: 12px; /* Increased padding */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .sign-in-button:hover {
    background-color: #0056b3;
  }
  
  .help-link {
    text-align: center;
    margin-top: 15px;
  }
  
  .help-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .help-link a:hover {
    text-decoration: underline;
  }