body {
    background-color: #f4f7fc;
    font-family: 'Poppins', sans-serif;
}
.main-container {
    display: flex;
    margin-left: 250px;
}

.card {
    margin-top: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: white;
    width: 100%;
}

.card-header {
    background-color: #0056b3;
    color: white;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-weight: bold;
}

.section-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.shift-box {
    background-color: #ffc107;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.spaced-section {
    margin-bottom: 20px;
}

.chart-container {
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

canvas {
    max-width: 100%;
    height: 300px !important;
}